:root {
    --dark-color: #19283f;
    --green-color: #33c1cc;
    --red-color: #ff3150;
    --yellow-color: #ffc400;
    --section-color: #eff7fa;
}
body {
    font-family: 'Roboto', sans-serif;
}
.main-btn {
    background-color: var(--red-color);
    color: var(--yellow-color);
    padding: 0.5rem 1rem;  
}
.main-btn:hover {
    color: var(--yellow-color);
}
.main-title::after {
    content: '';
    width: 120px;
    height: 2px;
    background-color: var(--green-color);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translate(-50%);
}
.navbar {
    background-color: var(--dark-color);
}
.navbar .navbar-nav .nav-link {
    color: white;
}
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: var(--green-color);
}
/*problem 1*/
.search {
    color: var(--green-color);
    margin: 7px;
}
.search:hover {
    color: var(--red-color);
}
/*problem 1*/
.landing {
    background-color: var(--dark-color);
    min-height: calc(100vh - 72px);
}
/*problem 2*/
.button1 {
    border-radius: 20px;
    background-color: var(--green-color);
    color: black;
}
.button1:hover {
    background-color: var(--red-color);
}
/*problem 2*/
.features .icon-holder {
    height: 200px;
}
.features .icon-holder svg {
    left: 50%;
    transform: translate(-50%);
}
.features .icon-holder .number {
    font-size: 12rem;
    color: var(--section-color);
}
.features .icon-holder .icon {
    color: var(--green-color);
}
.features .feat h4 {
    color: var(--yellow-color);
}

.our-work {
    background-color: var(--section-color);
}
.our-work ul .active {
    background-color: var(--red-color);
    color: var(--yellow-color);
}
.our-work ul li {
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.our-work ul li:not(.active):hover {
    color: var(--red-color);
}
.our-work .box {
    padding: 5px;
    overflow: hidden;
    position: relative;
}
.our-work .box::before {
    content: attr(data-work);
    position: absolute;
    background-color: #33c2cc8e;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
    transition: 0.3s;
    font-size: 1.5rem;
    transform: translate(calc(-100% - 5px));
}
.our-work .box:hover::before {
    transform: translate(0);
}
/*problem 3*/
.problem3 {
    border-radius: 20px;
    color: black;
    background-color: var(--green-color);
    margin-left: 600px;
    margin-bottom: 10px;
}
.problem3:hover {
    background-color: var(--red-color);
}
/*problem 3*/
.stuff .description {
    max-width: 400px;
}

.team {
    background-color: var(--section-color);
}
.team h2 {
    color: var(--yellow-color);
}
.team .box h4 {
    background-color: var(--green-color);
}

.projects {
    background-color: var(--dark-color);
}
/*problem 4*/
.problem4 {
    border-radius: 20px;
    color: black;
    background-color: var(--green-color);
    margin-left: 600px;
    margin-bottom: -20px;
}
.problem4:hover {
    background-color: var(--red-color);
}
/*problem 4*/
/*problem 5*/
.problem5 {
    border-radius: 20px;
    color: black;
    background-color: var(--green-color);
    margin-left: 500px;
    margin-bottom: -20px;
}
.problem5:hover {
    background-color: var(--red-color);
}
/*problem 5*/
.subscribe {
    background-color: var(--yellow-color);
}
.subscribe .text{
    font-size: 20px;
    font-weight: 800;
}
.subscribe input[type="text"] {
    border: none;
    border-bottom: 1px solid white;
}
.subscribe input[type="text"]:focus {
    outline: none;
}
.subscribe ::placeholder {
    color: white;
}
.subscribe input[type="submit"] {
    background-color: var(--dark-color);
    color: var(--yellow-color);
}

.footer {
    background-color: var(--dark-color);
}
.footer .copyright > span {
    color: var(--green-color);
}
.footer .copyright div span {
    color: var(--yellow-color);
}
.footerv.contact ul svg {
    width: 20px;
    height: 20px;
}
.footer .facebook {
    background-color: #1877f2;
    margin-left: 20px;
}
.footer .twitter {
    background-color: #1da1f2;
    margin-left: 20px;
}
.footer .linkedin {
    background-color: #1da1f2;
    margin-left: 20px;
}
.footer .youtube {
    background-color: #ff0000;
    margin-left: 20px;
}